# OS
.DS_Store
*.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Output
output/
logs.txt
*.log
recon_output/
js_storage/
js_maps/
source_code/
final_results/
metadata/
github_recon_results/